{% extends "base.html" %}
{% block title %}Dating App{% endblock %}
{% block script %}
<script type="text/javascript" src="{{url_for('static', filename='input.js')}}"></script>
{% endblock %}
{% block content %}
<h2>HomePage</h2>
<br>
<p>ToDo<p>

<form action="{{ url_for('add') }}" method="POST">
    <input type="text" name="items">
    <input type="submit" value="add items">
</form>

    <form action="{{ url_for('complete') }}" method="POST">
        <ul>
            {% for item in incomplete %}
                <li><input name="id" type="checkbox" value={{ item.id }}>{{ item.text }}</li>
            {% endfor %}
        </ul>
    <input type="submit" value="update items">
    <form>



{% endblock %}